@charset "UTF-8";
/* CSS Document */

body{
	background: white;
	margin: 0;
	padding: 0px;
	width: 100%;
	overflow: auto; 
	font-family: 'BrandonText-Medium'; 
	font-weight: normal; 
	font-style: normal; 
}

/* ----------------- HEADER ---------------- */

#site-bar{
	padding: 0 10%;
	width: 80%;
	height: 22px;
	background-color: white;
	color: #00a79d;
	position: absolute;
	padding-top: 8px;
	margin-bottom: 40px;
}

#site-bar ul, #site-bar li{
	display: inline;
} 

.bar-left{
	padding-left: 12px;
	text-transform: uppercase;
}

.bar-right{
	float: right;
	padding-right:  5%;
}

#header{
	padding: 0 10%;
	height: 60px;
	width: 80%;
	position: fixed;
	padding-top: 40px;
	z-index: 4;
	transition:padding 0.5s;
	-webkit-transition:padding 0.5s; /* Safari */
	transition: background 700ms;
	-webkit-transition: background 700ms; /* Safari */
}

.standard{
	display: block;
	transition: display 700ms;
	-webkit-transition: display 700ms; /* Safari */
	padding-top: 3px;
}

.rolled{
	display: none;
	transition: display 300ms;
	-webkit-transition: display 300ms; /* Safari */
	padding-top: 5px;
}

#logo, #nav{
	vertical-align: middle;
}

#logo{
	width: 20%;
	float:left;
}

#nav{
	background: none;
	float: left;
	width: 80%;
	text-align: left;
	padding-top: 19px;
}

#nav ul, #nav li{ 
	display: inline;
	padding-left: 5%;
}

#nav ul{
	padding-left: 10%;
}

/* ----------------- MAIN IMAGE ---------------- */

#one{
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 1;
}

#two{
	position: relative;
	z-index: 1;
}

#contact{
	position: relative;
	z-index: 1;
}

#two .two-thirds {
	padding-top: 12%;
}



.big-image{
	background-color: #e9e6e6;
	width: 100%;
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	 text-align: center;
	 /* background-image: url('http://knomad.co.nz/lss-test/wp-content/themes/960bc/images/contact-bkg.jpg'); */
}

.content{
	width: 80%;
	padding: 0 10%;
}

#contact .content{
	padding-top: 10%;
}

.title-section{
	padding-top: 22%;
	padding-bottom: 300px;
}

.title-section img{
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
}

.shadow{
	box-shadow: 0px 3px 15px 0px grey;
}

.swiper{
	background-color: white;
	width: 100%;
	padding-top: 145px;
	padding-bottom: 80px;
	overflow: auto;
	position: relative;
	z-index: 3;
}

.swiper-third{
	width:26%;
	padding: 0 3.66666%;
	float: left;
	padding-top: 20px;
}

.grey{
	background-color: #333;
	height: auto;
}

.video{
	position: relative;
	z-index: 1;
	padding-top: 10%;
}

#contact p{
	padding-right: 15%;
}

.contact-button{
	margin-top:60px;
	width: 242px;
}

.contact-button a{
	color: white;
	border-top: 1px solid #fff;
	width: 100%;
	vertical-align: middle;
	padding-top: 25px;
	padding-right: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'BrandonText-Light';
}

.contact-button a:hover{
	border-color: #b4b4b4;
	color: #b4b4b4;
}

.drop{
	width: auto;
	padding-top: 0px;
	text-transform: none;
	border: none;
	padding-bottom: 5px;	
}

.buynow a{
	font-family: 'BrandonText-Regular';
	padding-right: 25px !important;
	padding-left: 25px !important;
	display: inline-block;
	padding: .5em 1.2em;
	vertical-align: middle;
	border-radius: 2em;
	background-color: #6fc400;
	background-image: -webkit-linear-gradient(top,#7bd300,#5eaf01);
	background-image: linear-gradient(to bottom,#7bd300,#5eaf01);
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);
	line-height: 1;
	text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}

.buynow a:hover{
	color: white !important;
	background:#5eaf01;color:#fff
	}
	
.buynow a:active{
	background-color:#69bd00;
	background-image:-webkit-linear-gradient(top,#5eaf01,#7bd300);
	background-image:linear-gradient(to bottom,#5eaf01,#7bd300);
	color:#fff
	}

.light a{
	color: #ccc;
}

#skip{
	display: none;
}

#footer a{
	color: #696969;
}

#footer .contact-button a{
	color: white;
}

#footer .buynow a{
	color: white;
}

#footer .buynow{
	margin-top: 10px;
}

/* --------------------- STRUCTURE -------------------- */

.third, .two-thirds, .half, .forth{
	float: left;
	text-align: left;	
}

.third{
	width: 29%;
}

.left{
	margin-right: 6.5%;
}

.right{
	margin-left: 6.5%;
}

.two-thirds{
	width: 64.5%;
}

.half{
	width:43.5%;
}

.forth{
	width: 20.125%;
}

#footer{
	height: 160px;
	width:80%;
	padding: 50px 10%;
	background: #333;
	position: relative;
	z-index: 4;
	
}

#footer img{
	width: 50%;
}

#footer ul{
	padding-top: 9px;
	margin-left: -60%;
}

#footer li{
	padding-top: 5px;
	font-family: 'BrandonText-Light';
}

/*------------------- CONTACT FORM 7 ---------------------------- */

.address{
	float: left;
	width: 43%;
	padding: 0 3.5%;
	margin-top: 50px;
}

.contact-form{
	margin-left: 3%;
}

input{
	color: #333;
	height: 30px;
	width: 100%;
	padding-left: 10px;
}

textarea{
	width: 100%;
	height: 150px;
	padding-left: 10px;
	padding-top: 10px;
}

input[type="submit"]{
	color: #eee;
	border: none;
	background-color: #222;
	text-align: center;
	vertical-align: middle;
	height: 50px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: 'BrandonText-Light';
	padding-top: 10px;
	cursor: pointer;
}

input[type="submit"]:hover{
	border: 1px solid #fff;
	background-color: #333;
	color: #ddd;
}

#wpcf7-f7-t1-o1 p{
	font-size: 14px;
	padding-bottom: 10px;
	line-height: 23px;
}

/*------------------- INTERNAL PAGES - DISTINCTIVES ---------------------------- */

.int-big-image{
	height: 350px;
}

.int-title-section{
	padding-top: 170px;
	padding-bottom: 0px;
}

#main-content{
	padding-top: 100px;
	width: 100%;
	overflow: auto;
}

#main-content .two-thirds{
	padding-bottom: 120px;
}

.internal-nav{
	position: relative;
}

.internal-nav li{
	padding-bottom: 15px;
}

.internal-nav a{
	color: #111;
}

.internal-nav a:hover{
	font-family: 'BrandonText-Bold'; 
}

.info-sub-content{
	padding-bottom: 80px;
	width: auto;
	overflow: auto;
}

.post{
	padding-bottom: 10px;
}

.team{
	width: 45%;
	float: left;
	margin-right: 2.5%;
}

.team img{
	width: 100%;
	margin-bottom: 20px;
	height: auto;
}

.team p{
	padding-top: 10px;
}

.post h2 a{
	color: black;
}

.entry{
	padding-top: 10px;
}

#searchform{
	margin-bottom: 40px;
}

#sidebar input{
	width: 260px;
	margin-right: 30%;
	height: 30px;
	margin-top: 10px;
	
}

#searchsubmit{
	height: 40px !important;
	margin-top: 10px;
}

#sidebar h2{
	color: black;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#sidebar a, #sidebar li{
	color: black;
	font-family: 'BrandonText-Thin'; 
}

#sidebar li{
	padding-bottom: 10px;
}

.navigationTop{
	padding-top: 20px;
	padding-bottom: 20px;
	color:#3f4549;
	width: 100%;
	float: left;
	text-align: right;
}

.navigationTop a{
	color:#3f4549;
}

.navigationTop a:hover{
	color:#dfdfdf;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mobile-nav{
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,.8);
	z-index: 6;
	top:98px;
	left:0;
	position: fixed;
	width: 100%;
}

#mobile-nav ul, #mobile-nav li{
	display: block;
	text-align: center;
}

#mobile-nav a{
	color: white;
	padding: 10px;
}

#mobile-nav li{
	padding: 1%;
	padding-bottom: 15px;
}

#menu-button{
		display: none;
	}
