@media only screen and (max-width: 1024px) {

	.row{
		width: 90%;
		margin: 0 5%;
	}
	
	.row iframe{
		width: 100%;
	}
	
	#news-slider .left{
		padding-right: 0px;
	}
	
	.mug-shot{
		width: 23%;
	}
	
	#post-92 .mug-shot, #post-9 .mug-shot{
		width: auto;
	}
	
	#home #beer-section .row {
		width: 100%;
		margin: 0 2.5%;
	}
		
	.introduction{
		max-width: 100% !important;
		margin-top: 20px;
	}
	
	#rare-beer .beer-info{
		position: relative !important;
		top:-150px !important;
		left:0px !important;
	}
	
	#rare-beer .divider, #rare-beer .rare-info{
		position: relative;
		top:-500px !important;
	}
	
}

@media only screen and (max-width: 800px) {

	.thirty{
		width: 90%;
		margin: 0 5%;
	}
	
	.eighty{
		width: 100%;
		margin: 20px 0;
	}
	
	#rare-beer .icons{
		display: none;
	}
	
	#rare-beer .half, #rare-beer .beersies{
		width: 100% !important;
		margin: 20px 0 !important;
	}
	
	#rare-beer .beersies{
		margin: 0 auto;
	}
	
	.row{
		text-align: center;
	}
	
	.beer-circle{	
		width: 50%;
	}
	
	.home-hover h3{
		font-size: 40px;
		line-height: 40px;
	}
	
	#main-slider div.large-8.small-12.left{
		float: none;
		padding-bottom: 40px;
		padding-right: 0px !important;
	}	
	

	#post-7 .tupperware, #post-7 blockquote{
		padding-top: 0px;
	}
	
	.woocommerce-breadcrumb{
		text-align: left;
	}
	
	.woocommerce-ordering{
		margin-right: 0px;
		right:0;
	}
	
	.previous-beer, .next-beer{
		display: none;
	}
		#logo img {
		width: 120px;
	}
	
	.specials img{
		min-width: 180%;
		margin-left: -40%;
	}
	
	div#logo.single-beers{
		display: none;
	}
	
	.order-online{
		width:100%;
		margin:40px 0;
		max-width:100%;
		padding: 0 10%;
	}
	
	.instafeed-container .overlay h1{
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		color:#fff;
		margin:60px 0 0 0;
	}
	

}

@media only screen and (max-width: 600px) {
	.home-hover{
		display: none;
	}	

	#home.beer-hero{
		max-height: 100%;
		margin-bottom:40px;
	}
	
	#home h1{
		margin-top: 150px;
	}
	
	 h1{
		margin-top:50px;
		font-size: 70px;
	}
	
	div#over-cont h1{
		margin-top: 0px;
		line-height: 60px;
	}
	
	.order-online .left, .order-online .right{
		width: 100%;
	}
	
	.order-online .right h1{
		text-align: left;
		font-size: 4em;
	}
	
	.order-online .right p{
		text-align: left;
	}
	
	.beer-info .left{
		width: 100%;
		padding-top: 40px;
	}
	
	.beer-info .right{
		width: 50%;
		margin: 40px 25%;
	}
	
	.footer-col{
		min-height: 0px;
	}
	
	.flex-control-nav{
		display: none;
	}

}

@media only screen and (max-width: 500px) {

	.facebook, .twitter, .instagram{
		display: none;
	}
	
	.woocommerce-breadcrumb{
		display: none;
	}
	
	.plz-buy{
		left:0px !important;
		right:auto;
		top:0px;
	}
	
	.woocommerce-ordering{
		top:25px;
		left:0px !important;
		right:auto;
	}
	
	.home-icon{
		display: block;
		right:65px;
		top:20px;
	}
	
	#starter, #harvey{
		right:20px;
		top:20px;
	}
	
	.title-section{
		height: 50vh;
		margin-bottom: 20px;
	}
	
	.title-section h1{
		font-size: 55px !important;
	}
	
	.intro-title{
		top: 50%;
	}
	
	.home-hover{
		display: none;
	}
	
	.container-outer{
		padding-left: 0px;
	}
	
	#home.beer-hero{
		max-height: 100%;
		margin-bottom:40px;
	}
	
	td.product-price, th.product-price{
		display: none;
	}
	
	.woocommerce table.cart td.actions .button{
		width: 100% !important;
		margin: 5px 0px;
		height: 40px;
	}
	
	.instafeed-container img{
		width: 50%;
	}
	
	.instafeed-container .overlay h1{
		font-size: 40px;
		line-height: 40px;
		text-align: center;
		color:black;
		margin:20px 0 0 0;
	}
	
	
	
}