/**
 * @license
 * MyFonts Webfont Build ID 2881125, 2014-09-10T22:38:49-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ITC Souvenir Std Demi by ITC
 * URL: http://www.myfonts.com/fonts/itc/souvenir/std-demi/
 * 
 * Webfont: ITC Souvenir Std Light by ITC
 * URL: http://www.myfonts.com/fonts/itc/souvenir/std-light/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2881125
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 1985, 1987, 1994, 2001 Adobe Systems Incorporated.  All Rights Reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2bf665");

  
@font-face {font-family: 'SouvenirStd-Demi';src: url('webfonts/2BF665_0_0.eot');src: url('webfonts/2BF665_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2BF665_0_0.woff') format('woff'),url('webfonts/2BF665_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'SouvenirStd-Light';src: url('webfonts/2BF665_1_0.eot');src: url('webfonts/2BF665_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2BF665_1_0.woff') format('woff'),url('webfonts/2BF665_1_0.ttf') format('truetype');}

