#rare-bird .title-section {
  height: auto;
  background-color: white;
  margin-top: 20px; }
  #rare-bird .title-section .intro-title {
    margin-top: 0px;
    top: 0px;
    position: relative;
    background-color: white; }
    #rare-bird .title-section .intro-title img {
      max-width: 250px;
      width: 90%;
      margin-bottom: 20px; }
    #rare-bird .title-section .intro-title p {
      width: 40%;
      margin: 0 auto;
      color: black;
      margin-bottom: 10px; }
#rare-bird div#beer-section.clear {
  background: url('http://parrotdog.co.nz/wp-content/themes/ParrotDog-child/images/upfeathers.png') !important;
  background-position-y: bottom;
  background-repeat: repeat-x;
  padding: 100px 5%; }
#rare-bird .mug-shot {
  float: none;
  margin-bottom: 20px; }
  #rare-bird .mug-shot img {
    max-width: 100%;
    width: 100%; }
  #rare-bird .mug-shot .home-hover {
    background-color: rgba(0, 0, 0, 0.7); }
    #rare-bird .mug-shot .home-hover .bottom-feeder {
      width: 25%; }

#rare-beer .beer-hero {
  position: relative;
  background: white !important; }
  #rare-beer .beer-hero .beer-info {
    width: 70%;
    margin: 4em auto 2em auto;
    max-width: 700px;
    position: absolute;
    top: 0px;
    left: 23%; }
  #rare-beer .beer-hero img.number {
    width: 80px;
    margin-bottom: 20px; }
#rare-beer .divider {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  margin-top: 20px;
  background: #000; }
#rare-beer .rare-info {
  width: 100%;
  margin: 0 auto;
  padding: 100px 10%;
  background: white; }
#rare-beer .icons {
  width: 20%;
  float: left;
  padding: 0px 5%; }
#rare-beer .half {
  width: 45%;
  padding-right: 5%; }
#rare-beer .beersies {
  margin-top: -80px;
  position: relative;
  width: 25%;
  float: left; }
  #rare-beer .beersies img {
    width: 80%; }

/* Sign up form
------------------------------------------------------------------------------------------------------------------ */
.formwrap {
  width: 100%;
  padding: 0 10%; }

.formwrap p {
  display: inline-block; }

#post-4 img {
  padding-bottom: 20px; }

.wpcf7 br {
  display: none; }

.wpcf7-form-control-wrap, .wpcf7-form-control {
  display: inline-block; }

input[type="text"], input[type="email"], input[type="number"], input[type="tel"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid #666;
  color: #666;
  border-radius: 0px;
  max-width: 300px;
  float: left;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-left: -5px; }

input[type="submit"] {
  top: -30px;
  margin-left: 0px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #666;
  color: #666;
  border-radius: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
  padding-bottom: 11px;
  padding-top: 5px;
  font-size: 13px !important;
  position: relative !important; }

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus {
  background-color: white;
  border-color: #0f346b;
  box-shadow: none;
  -webkit-box-shadow: none; }

.page input[type="text"], .page input[type="email"], .page input[type="number"], .page input[type="tel"] {
  float: none; }

.page p {
  vertical-align: top; }

div#wpcf7-f246-p8-o1.wpcf7 {
  padding-top: 20px; }

div#wpcf7-f246-p8-o1.wpcf7 p {
  padding-top: 5px; }

span.wpcf7-form-control-wrap.your-message {
  padding-top: 10px; }

#wpcf7-f246-p8-o1 textarea.wpcf7-form-control.wpcf7-textarea {
  width: 80%; }

#wpcf7-f246-p8-o1 input[type="text"], #wpcf7-f246-p8-o1 input[type="email"], #wpcf7-f246-p8-o1 input[type="number"], #wpcf7-f246-p8-o1 input[type="tel"] {
  border: none;
  margin: 0 auto;
  background: transparent;
  border-bottom: 1px solid #666;
  color: #666;
  border-radius: 0px;
  max-width: auto;
  width: 60%;
  float: none;
  box-shadow: none;
  -webkit-box-shadow: none; }

#wpcf7-f246-p8-o1 .wpcf7-form-control-wrap, #wpcf7-f246-p8-o1 .wpcf7-form-control {
  display: block;
  margin: 0 auto; }
